/* 
 *  Owl Carousel - Animate Plugin
 */


/*
CONTROLLS

*/

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}



/*
MAIN CAROUSEL CSS

*/


.home-banner.banner-2 {
    background-image: none;
    padding-top: 0;
    position: relative;
}

.banner-2 .carousel-inner > .item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.home21 .banner-caption {
    width: inherit;
    text-align: center;
}

.home21 .banner-caption h1 {
    background-color: rgba(255, 255, 255, 0.8);
    color: #00aeef;
    display: inline-block;
    padding: 30px;
}

#home-carousel {
    overflow: hidden;
}

.home-banner.banner-2 .slide-controls a,
.banner-slider13 .owl-nav > div {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    height: 60px;
    left: -60px;
    margin-top: -30px;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
    width: 50px;
    
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}

#home-carousel:hover .slide-prev,
.banner-slider13:hover .owl-prev {
    left: 0;
}

.home-banner.banner-2 .slide-controls a:hover,
.banner-slider13 .owl-nav > div:hover {
    background-color: #00aeef;   
}

.home-banner.banner-2 .slide-controls .slide-next,
.banner-slider13 .owl-next {
    left: auto;
    right: -60px;
}

#home-carousel:hover .slide-next,
.banner-slider13:hover .owl-next {
    left: auto;
    right: 0;
}

.home-banner.banner-2 .slide-controls .slide-prev:before,
.banner-slider13 .owl-nav .owl-prev:before {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    content: "";
    display: block;
    height: 18px;
    margin-top: -9px;
    position: absolute;
    left: 22px;
    top: 50%;
    width: 18px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.home-banner.banner-2 .slide-controls .slide-next:after,
.banner-slider13 .owl-nav .owl-next:before {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    content: "";
    display: block;
    height: 18px;
    margin-top: -9px;
    position: absolute;
    right: 22px;
    top: 50%;
    width: 18px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.home-banner.banner-2 .carousel-indicators li {
    background-color: #666;
    border: 1px solid #666;
    border-radius: 50px;
    height: 15px;
    margin: 0 5px;
    width: 15px;
    
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}

.home-banner.banner-2 .carousel-indicators li:hover,
.home-banner.banner-2 .carousel-indicators li.active {
    background-color: #00aeef;
    border-color: #00aeef;
}

.home-banner.banner-3 {
    margin-top: 0 !important;
}

.banner-3 .overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.home20 .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-caption {
    margin-top: 15%;
    max-width: 100%;
    width: 470px;
}

.banner-caption h1 {
    color: #777777;
    font-family: 'Oswald', sans-serif;
    font-size: 67px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: 74px;
    text-transform: uppercase;
}

.banner-caption p {
    color: #777777;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.banner-caption a {
    margin-top: 35px;
}

.bgslide .container,
.banner-3 .container {
    display: table;
}

.bgslide .container > .row,
.banner-3 .container > .row {
    display: table-cell;
    vertical-align: middle;
}

.home-banner.banner-4 .banner-caption {
    margin-top: 0;
    max-width: none;
    width: 100%;
}

.bgslide .banner-caption,
.banner-3 .banner-caption {
    margin-top: 0;
    max-width: none;
    width: 100%;
}

.bgslide .banner-caption h2,
.banner-3 .banner-caption h2 {
  color: hsl(0, 0%, 100%);
  font-size: 35px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.bgslide .home-social,
.banner-3 .home-social {
  bottom: 0;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  left: 0;
  position: absolute;
  width: 100%;
}

.bgslide .home-social li,
.banner-3 .home-social li {
    display: inline-block;
    margin-right: 8px;
}

.bgslide .home-social li:last-child,
.banner-3 .home-social li:last-child {
    margin-right: 0;
}

.bgslide .home-social li a,
.banner-3 .home-social li a {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: block;
    color: #f7f7f7;
    font-size: 18px;
    height: 42px;
    line-height: 40px;
    margin: 0 auto;
    width: 42px;
}

.bgslide .home-social li a:hover,
.banner-3 .home-social li a:hover {
    background-color: #00aeef;
    border-color: #00aeef;
    color: #fff;
}

.bgslide .banner-caption h1,
.banner-3 .banner-caption h1,
.banner-6 .slide-left h1 {
    color: #00aeef;
    font-family: Raleway;
    font-size: 44px;
    font-weight: 100;
    line-height: 60px;
}

.bgslide .banner-caption h1,
.banner-3 .banner-caption h1 {
    color: #fff;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 15px;
}



.banner-4 .row.fullscreen {
    display: table;
}

.banner-4 .row.fullscreen > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.home-banner.banner-4 .banner-caption h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #00aeef;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-banner.banner-4 .banner-caption ul {}

.home-banner.banner-4 .banner-caption ul li {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #333333;
}

.home-banner.banner-4 .banner-caption ul li:last-child {
    margin-bottom: 0;
}

.home-banner.banner-4 .banner-caption ul li i {
    margin-right: 15px;
    font-size: 36px;
    color: #00aeef;
    float: left;
}

.home-banner.banner-4 .banner-caption ul li span {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: lowercase;
}

.home-banner.banner-4 .banner-caption ul li span::first-letter {
    text-transform: uppercase;
}


.home-banner.banner-4 .iphone {
    margin-top: 55px;
    text-align: right;
}

.banner-4 .iphone img {
    max-width: 375px !important;
}

.banner-5 {
    padding: 0;
}

.banner-5 .overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.banner-5 .calltoac {
    background-color: #00aeef;
    bottom: 100px;
    color: #fff;
    left: 0;
    padding: 36px 0;
    position: absolute;
    width: 100%;
}

.banner-5 .calltoac h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-5 .calltoac p {
    font-size: 18px;
    margin-top: 0;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    margin-top: 16px;
    text-transform: uppercase;
}

.banner-5 .btn-border:first-child {
    margin-right: 5px;
}

.btn-border:hover {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

.home5_2 .banner-caption {
    float: right;
    margin-right: 13%;
    text-align: right;
    width: 520px;
}

.home5_2 .banner-caption h1,
.home5_2 .banner-caption p {
    color: #fff;
}

.home5_2 .carousel-inner .item:first-child .banner-caption h1 {
    color: #222;
}

.home14 .banner-caption h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
}
.home14 .banner-caption h1 {
    font-size: 45px;
    font-weight: 900;
}

.home22 .overlay {
    background-color: rgba(0, 0, 0, 0.2);
}



.slide6 .item .container {
    display: table;
}

.slide6 .slidecaption {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}

.slide6 .slidecaption h1,
.slide6 .slidecaption h2,
.slide6 .slidecaption h3 {
    clear: both;
    float: right;
}

.slide6 .slidecaption h1 {
    font-size: 56px;
    margin-bottom: 30px;
    text-transform: uppercase;
    z-index: 1;
    font-weight: 100;
    color: #00aeef;
    line-height: 75px;
    opacity: 0;
    -webkit-transition: all 1.2s ease-in 1s;
       -moz-transition: all 1.2s ease-in 1s;
         -o-transition: all 1.2s ease-in 1s;
            transition: all 1.2s ease-in 1s;
}

.slide6 .active .slidecaption h1 {
    opacity: 1;
}

.slide6 .slidecaption h3 {
    background-color: #00aeef;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    position: relative;
    font-weight: 700;
    right: -300px;
    opacity: 0;
    padding: 19px 30px;
    text-transform: uppercase;
    -webkit-transition: all 1.2s ease-in 1.3s;
       -moz-transition: all 1.2s ease-in 1.3s;
         -o-transition: all 1.2s ease-in 1.3s;
            transition: all 1.2s ease-in 1.3s;
}

.slide6 .active .slidecaption h3 {
    right: 0;
    opacity: 1;
}

.slide6 .slidecaption h3:before {
    border-color: #00aeef #00aeef transparent transparent;
    border-style: solid;
    border-width: 35px;
    content: "";
    left: -70px;
    position: absolute;
    top: 0;
}

.slide6 .slidecaption h2 {
    background-color: #dde1e2;
    color: #00aeef;
    display: inline-block;
    font-size: 39px;
    font-weight: 700;
    padding: 19px 30px;
    position: relative;
    text-transform: uppercase;
    right: -300px;
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition: all 1.2s ease-in 1.6s;
       -moz-transition: all 1.2s ease-in 1.6s;
         -o-transition: all 1.2s ease-in 1.6s;
            transition: all 1.2s ease-in 1.6s;
}

.slide6 .slidecaption h2:before {
    border-color: #dde1e2 #dde1e2 transparent transparent;
    border-style: solid;
    border-width: 41px;
    content: "";
    left: -82px;
    position: absolute;
    top: 0;
}

.slide6 .active .slidecaption h2 {
    right: 0;
    opacity: 1;
}

.home6 .iphone {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.home6 .iphone img {
    margin: 0 auto;
    max-width: 265px;
    position: relative;
    opacity: 0;
    right: -180px;
    -webkit-transition: all 1.5s ease 0s;
       -moz-transition: all 1.5s ease 0s;
         -o-transition: all 1.5s ease 0s;
            transition: all 1.5s ease 0s;
}

.home6 .active .iphone img {
    opacity: 1;
    right: 0;
}

.home6:hover a.bx-prev {
    left: 0;
    background-position: center;
}

.home6:hover a.bx-next {
    right: 0 !important;
    background-position: center;
}


/* Backstretch Slider index 7 */

.banner-7 {
    padding: 0;
    height: 900px;
}

.home-slider-7 {
    display: table;
}
.home-slider-7 .slide-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.home-slider-7 .slide-inner h1 {
    color: #fff;
    font-size: 95px;
    font-weight: 200;
    line-height: 100px;
    text-transform: uppercase;
}

.index7slide2 > li {
    display: table;
}
.index7slide2 > li .slide-inner {
    display: table-cell;
    vertical-align: middle;
}

.home-slider-7 .slide-inner h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 5px;
    text-transform: uppercase;
}

.home-slider-7 .slide-inner p {
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 45px;
}

.banner-7 .sform7,
.banner-10 .sform7,
.bgslide .sform7,
.banner-3 .sform7 {
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.6);
    margin: 83px auto 0;
    font-weight: 600;
    padding: 29px;
    max-width: 514px;
    width: 100%;
}

.banner-7 .sform7 {
    margin-top: 45px;
}

.banner-7 .sform7 .input-field,
.bgslide .sform7 .input-field,
.banner-10 .sform7 .input-field,
.banner-3 .sform7 .input-field {
    float: left;
    font-size: 14px;
    height: 50px;
    margin-right: 20px;
    background-color: #fff;
    color: #777;
    border: 0;
    padding: 0;
    text-indent: 25px;
    text-transform: lowercase;
    max-width: 300px;
    width: 100%;
}

.sform7 .input-field::-moz-placeholder {/* Firefox 19+ */
    text-transform: uppercase;
}

.sform7 .input-field::-webkit-input-placeholder {
   text-transform: uppercase;
}

.sform7 .input-field:-moz-placeholder { /* Firefox 18- */
   text-transform: uppercase;
}

.sform7 .input-field:-ms-input-placeholder {  
   text-transform: uppercase;
}

.banner-7 .sform7 .mail-submit,
.banner-10 .sform7 .mail-submit,
.bgslide .sform7 .mail-submit,
.banner-3 .sform7 .mail-submit {
    width: 134px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    color: #00aeef;
    border: 0;
    text-transform: uppercase;
}

/*==================== Banner 8 ====================*/

.banner-8 {
    background-color: #dedede;
    padding: 0;
}

.banner-8 > .container {
    display: table;
}

.banner-8 > .container > .row {
    display: table-cell;
    vertical-align: middle;
}

.banner-8 .col-md-offset-1.col-md-10 {
    padding-left: 0;
}

.banner-8 .col-md-offset-1.col-md-10 .col-md-6 {
    padding-left: 0;
}

.banner-8 .banner-head {
    margin-bottom: 80px;
}

.banner-8 .banner-head a {
    display: block;
}

.banner-8 .banner-head h1 {
  color: #555;
  font-size: 45px;
  font-weight: 200;
  margin-top: 53px;
  text-transform: uppercase;
}


.banner-8 .banner-head {
    margin-bottom: 40px;
}

.banner-8 .left-content h3 {
    color: #00aeef;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 40px;
    text-transform: uppercase;
}

.banner-8 .banner-head p {
    font-size: 24px;
    color: #999999;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-8 .content-item .icon {
    color: #00aeef;
    display: block;
    float: left;
    font-size: 48px;
    margin-right: 25px;
}

.banner-8 .content-item h4 {
    color: hsl(0, 0%, 20%);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-8 .content-item p {
    color: hsl(0, 0%, 47%);
    margin-top: 2px;
}

.banner-8 .content-item {
    margin-bottom: 30px;
}




.banner-10 {
    padding: 0;
}

.banner-10 .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-10 .carna_service_14 .single_carna_service i {
    height: 150px;
    width: 150px;
    border-color: rgba(255, 255, 255, 0.8);
}

.banner-10 .carna_service_14 .single_carna_service i:before {
    background-color: rgba(255, 255, 255, 0.4);
}

.banner-10 .carna_service_14 .single_carna_service:hover i {
    border-color: #fff;
}

.banner-10 .carna_service_14 .single_carna_service:hover i:before {
    background-color: #00aeef;
}

.banner-10 .carna_service_14 .single_carna_service i:after {
    background-color: rgba(0, 174, 239, 0.3);
}

.banner-10 .carna_service_14 .single_carna_service p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.banner-10 .banner-cap {
    display: table;
    width: 100%;
}

.banner-10 .banner-cap-inner {
    display: table-cell;
    vertical-align: middle;
}

.banner-10 .banner-cap h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.buttons {
    margin-top: 30px;
}

.buttons a {
    margin-top: 0;
}

.buttons a:first-child {
    margin-right: 5px;
}


/*============================
    Index 12
===============================*/


.rotate-banner > .container {
    display: table;
}

.slide12 .slidecaption {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.left-rotate {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.right-rotate {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.rotate-banner h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.know-more {
    border: 2px solid #fff;
    bottom: 20%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    position: absolute;
    right: 16%;
    text-transform: uppercase;
}

.know-more:hover,
.know-more:focus {
    background-color: #fff;
    color: #333;
}



.fur-sec:after {
    background-color: #f1f1f1;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 0;
}

.fur-sec .text {
    padding: 0 0 0 50px;
    position: relative;
    z-index: 1;
}

.fur-sec .text a {
    margin-top: 30px;
}



/*============================
    Index 13
===============================*/

.home-banner13 {
    overflow: hidden;
}

.slide13 .slide-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.slide13 .banner-caption h1 {
    left: -60px;
    margin-top: 5%;
    opacity: 0;
    font-size: 48px;
    line-height: 54px;
    position: relative;
    -webkit-transition: all 0.8s ease-in-out 0s;
       -moz-transition: all 0.8s ease-in-out 0s;
         -o-transition: all 0.8s ease-in-out 0s;
            transition: all 0.8s ease-in-out 0s;
}

.slide13 .active .banner-caption h1 {
    left: 0;
    opacity: 1;
}

.slide13 .banner-caption p {
    opacity: 0;
    display: inline-block;
    position: relative;
    -webkit-transform: scale(0.4);
       -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
         -o-transform: scale(0.4);
            transform: scale(0.4);
    -webkit-transition: all 0.8s ease-in-out 0.5s;
       -moz-transition: all 0.8s ease-in-out 0.5s;
         -o-transition: all 0.8s ease-in-out 0.5s;
            transition: all 0.8s ease-in-out 0.5s;
}

.slide13 .active .banner-caption p {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.slide13 .banner-caption a {
    background-color: transparent;
    border: 1px solid #fff;
}

.slide13 .banner-caption a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

.slide13 .banner-caption .slide-button {
    bottom: -30px;
    opacity: 0;
    position: relative;
    -webkit-transition: all 0.8s ease-in-out 1s;
       -moz-transition: all 0.8s ease-in-out 1s;
         -o-transition: all 0.8s ease-in-out 1s;
            transition: all 0.8s ease-in-out 1s;
}

.slide13 .active .banner-caption .slide-button {
    bottom: 0;
    opacity: 1;
}

.banner-slider13 .owl-item img {
    width: auto;
    -webkit-transform-style: inherit;
    -moz-transform-style: inherit;
    -ms-transform-style: inherit;
    transform-style: inherit;
}

.banner-slider13 .slide-item {
    padding: 0 30px;
}

.banner-slider13 .slide-caption {
    opacity: 1;
}

.banner-slider13 .slide-left {
    float: left;
}

.banner-slider13 .slide-caption {
    float: right;
    display: table;
    position: relative;
    width: 58%;
    height: 100%;
    z-index: 1;
}

.slide-caption-inner {
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.banner-slider13 .slide-right {
    display: table-cell;
    vertical-align: middle;
}

.banner-slider13 .woman {
    bottom: -143px;
    opacity: 0;
    max-height: 100%;
    position: absolute;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all 0.7s ease-in-out 0.65s;
       -moz-transition: all 0.7s ease-in-out 0.65s;
        -ms-transition: all 0.7s ease-in-out 0.65s;
         -o-transition: all 0.7s ease-in-out 0.65s;
            transition: all 0.7s ease-in-out 0.65s;
}

.banner-slider13 .active .woman {
    bottom: 0;
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.banner-slider13 .slide-right h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: 60px;
    opacity: 0;
    position: relative;
    text-transform: uppercase;
    color: #111;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.7s ease-in-out 1s;
       -moz-transition: all 0.7s ease-in-out 1s;
        -ms-transition: all 0.7s ease-in-out 1s;
         -o-transition: all 0.7s ease-in-out 1s;
            transition: all 0.7s ease-in-out 1s;
}

.banner-slider13 .active .slide-right h1 {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.banner-slider13 .slide-right p {
    font-size: 20px;
    line-height: 30px;
    text-transform: none;
    opacity: 0;
    color: #111;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.7s ease-in-out 1.3s;
       -moz-transition: all 0.7s ease-in-out 1.3s;
        -ms-transition: all 0.7s ease-in-out 1.3s;
         -o-transition: all 0.7s ease-in-out 1.3s;
            transition: all 0.7s ease-in-out 1.3s;
}

.banner-slider13 .active .slide-right p {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.banner-slider13 .slide-button {
    /*border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    opacity: 0;
    padding: 21px 39px;
    display: inline-block;*/
    display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.7s ease-in-out 1.6s;
       -moz-transition: all 0.7s ease-in-out 1.6s;
        -ms-transition: all 0.7s ease-in-out 1.6s;
         -o-transition: all 0.7s ease-in-out 1.6s;
            transition: all 0.7s ease-in-out 1.6s;
}

.banner-slider13 .slide-button a {
    border: 1px solid;
    color: #333;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin-top: 45px;
    padding: 15px 30px;
    text-transform: uppercase;
}

.banner-slider13 .active  .slide-button {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.banner-slider13 .slide-button a:hover,
.banner-slider13 .slide-button a:focus,
.banner-slider13 .slide-button a:active {
    color: #3b4e5c;
}

.bx-controls-direction a.bx-next {
    /* left: auto;
    right: 10px; */
}

.banner-slider13 .item2 {
    background-color: #c5d7e1;
    display: table;
    padding: 0;
    width: 100%;
}

.banner-slider13 .item2 .container .row {
    display: table-cell;
    vertical-align: middle;
}

.banner-slider13 .item2 .slide-caption {
    background-color: #c5d7e1;
    float: none;
    width: 100%;
    color: #fff;
}

.banner-slider13 .item {
    text-align: left;
    color: #333;
}

.banner-slider13 .slide-caption-inner .fullscreen {
    display: table-cell;
    vertical-align: middle;
}

    .item2 .slide2cap {
        display: table;
        width: 46%;
    }

    .item2 .slide2capinner {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        z-index: 10;
    }

    .banner-slider13 .item2 h1 {
        background-color: transparent;
        font-size: 45px;
        font-weight: 200;
        line-height: 60px;
        padding: 0;
        opacity: 0;
        color: #111;
        text-transform: uppercase;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
        -webkit-transition: all 0.7s ease-in-out 1s;
           -moz-transition: all 0.7s ease-in-out 1s;
            -ms-transition: all 0.7s ease-in-out 1s;
             -o-transition: all 0.7s ease-in-out 1s;
                transition: all 0.7s ease-in-out 1s;
    }

    .banner-slider13 .active .item2 h1 {
        top: 0;
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }

    .banner-slider13 .item2 p {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        text-transform: none;
        color: #111;
        opacity: 0;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
        -webkit-transition: all 0.7s ease-in-out 1.3s;
           -moz-transition: all 0.7s ease-in-out 1.3s;
            -ms-transition: all 0.7s ease-in-out 1.3s;
             -o-transition: all 0.7s ease-in-out 1.3s;
                transition: all 0.7s ease-in-out 1.3s;
    }

    .banner-slider13 .active .item2 p {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }

    .banner-slider13 .item2 .slide-button a {
        border-color: #333;
        color: #333;
    }

    .banner-slider13 .item2 .slide-button a:hover,
    .banner-slider13 .item2 .slide-button a:focus,
    .banner-slider13 .item2 .slide-button a:active {
        border-color: #fff;
        color: #3b4e5c;
    }

    .banner-slider13 .slide-caption-inner .col-md-6 {
        position: relative;
        z-index: 9;
    }

    .banner-slider13 .human {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        width: 100%;
        z-index: 1;
    }

    .banner-slider13 .human > img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        position: absolute;
        right: -300px;
        opacity: 0;
        top: 0;
        -webkit-transition: all 0.7s ease-in-out 0.65s;
           -moz-transition: all 0.7s ease-in-out 0.65s;
            -ms-transition: all 0.7s ease-in-out 0.65s;
             -o-transition: all 0.7s ease-in-out 0.65s;
                transition: all 0.7s ease-in-out 0.65s;
    }

    .banner-slider13 .active .human > img {
        right: 0;
        opacity: 1;
    }







